doctype html
html(lang='ko')
    head
        title Simple Chat Server
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
        style
            include /views/static/css/global.css
            include /views/static/css/signup.css
    body
        - const publicKey = data.publicKey;
        input(type='hidden' value=publicKey)
        #wrapper
            h1#title Sign up to server
            .input
                input(id='nickname' type='text' placeholder='Nickname' autocomplete='off' spellcheck='false')
                label(for='nickname') Nickname
            br
            .input
                input(id='email' type='email' placeholder='Email' autocomplete='off' spellcheck='false')
                label(for='nickname') Email
            br
            .input
                input(id='password' type='password' placeholder='Password' autocomplete='off' spellcheck='false')
                label(for='password') Password
            br
            .input
                input(id='c-password' type='password' placeholder='Confirm Password' autocomplete='off' spellcheck='false')
                label(for='c-password') Confirm Password
            br
