doctype html
html(lang='ko')
    head
        title Simple Chat Server
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
        style
            include /views/static/css/global.css
            include /views/static/css/signup.css
    body
        - const publicKey = data.publicKey;
        input(type='hidden' value=publicKey id='dx_public_key')
        #wrapper
            h1#title Sign up to server
            .input
                input#nickname(type='text' placeholder='Nickname' autocomplete='off' spellcheck='false')
                label(for='nickname') Nickname
            br
            .input
                input#email(type='email' placeholder='Email' autocomplete='off' spellcheck='false')
                label(for='email') Email
            br
            .input
                input#password(type='password' placeholder='Password' autocomplete='off' spellcheck='false')
                label(for='password') Password
            br
            .input
                input#c_password(type='password' placeholder='Confirm Password' autocomplete='off' spellcheck='false')
                label(for='c_password') Confirm Password
            br
            button#submit.button Submit
            #prompt_wrapper.prompt_wrapper
        script(src='./js/cryptojs.js')
        script(src='./js/jsencrypt.js')
        script(src='./js/communication.js')
        script(src='./js/signup.js' type='module')