#wrapper {
    width: 100%;
    text-align: center;
    user-select: none;
}

.input {
    display: inline-block;
    position: relative;
}

input {
    width: 420px;
}

#submit {
    margin-top: 24px;
    width: 240px;
}